<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- Mars Scrape -->
    <!--Latest Mars News-->
    <div class="row" id="mars-news">
      <div class="container-fluid">
        <div class="col-md-12">
          <h2 class="heading">Latest Mars News</h2>
          <h4 class="heading">{{mars.news_title}}</h4>
          <p><small>{{mars.news_p}}</small></p>
        </div>
      </div>
    </div><!--mars-news-->

    <!--Featured Mars Image, Current Weather, Mars Facts-->
    <div class="container-fluid">
      <div class="row" id="featured-mars-image">
        <div class="col-md-8">
          <h2>Featured Mars Image</h2>
          <img src="{{mars.featured_image_url}}" alt="featured image" class="img-thumbnail">
        </div><!--col-md-8-->
      </div><!--row featured-mars-image-->
    
        <div class="col-md-4">
          <div class="row" id="current-weather-on-mars">
            <ul>
              <h2>Current Weather on Mars</h2>
              <h4 class="heading">{{mars.mars_weather}}</h4>
            </ul>
          </div><!--current-weather-on-mars-->

          <div class="row" id="mars-facts">
            <ul>
              <h2>Mars Facts</h2>
              <!--https://stackoverflow.com/questions/3206344/passing-html-to-template-using-flask-jinja2-->
              {{mars.mars_facts|safe}}
              <a href="{{mars.mars_facts}}"></a>
            </ul>
          </div><!--row mars-facts-->
        </div>
    </div>

    <!--Mars Hemispheres-->
    <div class="container-fluid">
      <div id="mars-hemisphere">
        <h2 class="text-center">Mars Hemispheres</h2>
        <ul>
        {% for hemisphere in mars.hemisphere_image_urls %}
        <div class="col-md-6">
          <li><img src="{{hemisphere.img_url[0]}}" class="img-thumbnail"></li>
          <li><img src="{{hemisphere.img_url[1]}}" class="img-thumbnail"></li>
        </div>
        {% endfor %}
        </ul>
      </div><!--row mars-hemisphere-->
    </div>

  </div>
</body>

</html>